
.family-header {
    font-size: 22px;
    font-family: arial;
    font-weight: 800;
    text-align: center;
    color:darkblue;
    min-height: 66px;
}

.common-label {
    font-family: arial;
    font-size: 14px;
    text-overflow: ellipsis;
    color: #ffffff;
    padding: 0 4px;
}

.layout-label {
    font-family: arial;
    font-size: 30px;
    color: #ffffff;
    padding: 0 40px;
}

.header-label {
    text-align: center;
    font-family: arial;
    font-size: 16px;
    font-weight: 600;
    border-top: 1px solid black;
}

.back-view {
    background-color: #108a93;
}

.color-mark {
    height: 20px; 
    width: 100%;
    padding: 4px;
}

.button-view {
    width: 90%;
    color: gray;
    margin-left: 10px;
}

.logo-image {
    padding: 6px;
}

.main-header-panel {
    display: inline-block;
}
